.welcomep {
    text-align: center;
    font-size: large;
}

.container img {
    width: 70%;
    height: auto;
}

.big-article-title {
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.read-more-btn{
    text-align: center;
    background-color: #000E10;
    border: 1px solid white;
    padding: 10px 24px;
    align-items: center;
    border-radius: 2px;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}
@media (max-width: 650px) {
    .container {
        grid-template-columns: auto;
    }
    .container img {
        width: 100%;
        height: auto;
    }
    .welcomep {
        font-size: small;
        max-width: 100%;
    }
    .read-more-btn{
        text-align: center;
        padding: 5px 12px;
        justify-content: center;
    }
}

