.listnews-article-image {
    max-width: 100%;
    height: auto;
}

.search-btn {
    text-align: center;
    border: 1px solid white;
    padding: 10px 69px;
    border-radius: 5px;
    cursor: pointer;
    color: #d2d2d2;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
}

.search-btn a {
    color: white;
    text-decoration: none;
}

.search-btn:hover {
    background-color: #316E74;
    border: 1px solid #316E74;
}

.refresh:hover a {
    color: white;
}

.search-button input {
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
    border: 1px solid white;
}

.search-button i {
    font-size: larger;
}

.search-button ::placeholder {
    color: #d2d2d2;
}

.search-button button {
    text-align: center;
    padding: 10px 28px;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    transition-duration: 0.4s;
    color: white;
}

.search-button button:hover {
    background-color: #316E74;
    color: white;
}

.posts-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 20px;
    max-width: 100%;
}

.newsCard {
    border: 1px solid #316E74;
    padding: 15px;
    border-radius: 5px;
    background-color: #000E10;
    color: #b2b2b2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.listnews-article-image {
    width: 100%;
    height: 500px;
    /* fixed height so all cards match */
    object-fit: cover;
    /* crops image to fill without stretching */
    object-position: center;
    display: block;
}

.article-title {
    font-size: 18px;
    text-decoration: none;
    margin-top: 10px;
}

.article-title:hover {
    text-decoration: underline;
    color: #316E74;
    transition: .4s;
}

.edit-btn,
.delete-btn {
    text-decoration: none;
    color: #b2b2b2;
    padding: 5px 10px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.edit-btn:hover,
.delete-btn:hover {
    text-decoration: underline;
    background-color: #316E74;
    border: 1px solid #316E74;
    color: white;
}


/* .listnews-article-image {
    max-width: 100%;
    width: auto;
    margin-bottom: 10px;
} */

@media (min-width: 700px) {
    .listnews-article-image {
        max-width: 50%;
        max-height: 50%;
    }
    /* .listnews-article-image {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        margin-bottom: 10px;
    } */
}

@media (max-width: 700px) {
    .listnews-article-image {
        width: 100%;
        height: auto;
    }
    .posts-container {
        display: grid;
        grid-template-columns: auto;
    }
}