* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: #060612;
    color: #D2D2D2;
    /* padding-top: 60px; */
    overflow-x: hidden;
}

nav {
    /* background-color: #060612; */
    /* background-color: #000E10; */
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.nav {
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    /* background-color: #060612; */
    color: #D2D2D2;
    font-size: 23px;
}

.header {
    position: relative;
    width: 100%;
    top: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}

.nav_list {
    display: flex;
    column-gap: 40px;
}

.nav_link:hover,
.nav_link:focus {
    color: #316E74;
}

.nav_item {}

.nav_link {
    color: #D2D2D2;
    font-size: 15px;
    transition: all 0.4s;
}

.hamburger {
    display: none;
    /* Shows only on mobile */
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background-color: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
}

.nav--open {
    transform: translateX(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #0F0F2C;
    padding-top: 50px;
}

.f-container {
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer-content {
    width: 33.3%;
}

.footer-content h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-content p {
    width: 190px;
    margin: auto;
    font-size: 14px;
}

.footer-content ul {
    text-align: center;
}

.f-list {
    padding: 0;
}

.f-list li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.f-list li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 2px;
    background: #316E74;
    /* background: #0F0F2C; */
    transition-duration: 0.4s;
}

.f-list li:hover::before {
    width: 70px;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: #D2D2D2;
    font-size: 25px;
}

.social-icons i:hover {
    color: #316E74;
    transition: .4s;
}

.bottom-bar {
    background-color: #0F0F2C;
    padding: 10px 0;
    text-align: center;
    margin-top: 50px;
    border: 1px solid #ffffff;
}

.bottom-bar p {
    font-size: 14px;
    color: #D2D2D2;
    font-size: 16px;
    padding: 7px;
}

.container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;
    background-color: none;
    padding: 10px;
}

.container div {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.read-more-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-top: -3px;
    margin-bottom: 20px;
}

.read-more-btn,
.btn {
    text-align: center;
    background-color: #000E10;
    border: 1px solid white;
    padding: 10px 68px;
    align-items: center;
    border-radius: 2px;
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    transition: all 0.4s;
}

.read-more-btn:hover,
.btn:hover {
    background-color: #316E74;
    border: 1px solid #316E74;
    transition: .4s;
}

.read-more-btn a,
.btn a {
    color: #b2b2b2;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 650px) {
    .header {
        position: sticky;
        z-index: 100;
    }
    .nav {
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #060612;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 120px;
    }
    .nav_link {
        font-size: 25px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .logo {
        font-size: 18px;
    }
    .f-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0 20px;
    }
    .footer-content {
        width: 100%;
        text-align: center;
    }
    .footer-content p {
        width: 100%;
        word-break: break-all;
    }
    .read-more-btn,
    .btn {
        text-align: center;
        /* padding: 5px 12px; */
        justify-content: center;
    }
}