    .scoreCard {
        display: grid;
        grid-template-areas: "id username score edit";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        background-color: #000E10;
        border: 1px solid #316E74;
        padding: 20px;
        margin-bottom: 20px;
        column-count: 4;
        column-gap: 10px;
        column-rule: 1px solid white;
        margin-top: 30px;
    }
    
    .scoreCard div {
        /* background-color: #000E10; */
    }
    
    @media (max-width: 650px) {
        .scoreCard {
            grid-template-areas: "id" "username" "score" "edit";
            grid-template-columns: auto;
            column-count: 1;
        }
    }